.searchbar{
    padding-left: 5px;
    padding-bottom: 5px;
    border: solid black 1px;
    border-radius: 5px;
    max-height: 30px;
    width: 40%;
    margin-bottom: 20px;
}

.stat-main {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 20% 0;
}

.stats-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background: #DFDFDF;
    height: 400px;
    width: 1250px;
}

.players-rating{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.players{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 16px;
}

.player{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 16px;

    width: 1238px;
    height: 49px;

    background: #ECECEC;
    border-radius: 13px;
}

.stat-main h2 {
    font-size: 48px;
}