@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .App-link {
    display: none;
  }

  .App-user{
    color: #DFDFDF;
  }

  .App-header-menu ul{
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .App-header-menu-expanded ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: block;
  }

  .App-header-menu li{
    text-align: center;
    margin: 0;
  }

  .App-header-menu li:hover{
    background-color: #eee;
  }

  .App-header-menu li a{
    width: 100%;
    padding: 1.5rem 0;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #291132;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.App-header-menu{
  margin-left: auto;
}

.App-header-menu ul{
  display: flex;
  padding: 0;
}

.App-header-menu li{
  list-style-type: none;
  margin: 0 1rem;
}

.App-header-menu li a{
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  content: url("/public/images/charm_menu-hamburger.svg");
  position: relative;
  left: 40%;
  top: 20%;
  border: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

.App-logo{
  position: absolute;
  left: 10%;
}

.App-link {
  text-decoration: none;
  color: #F3F3F0;
  position: relative;
}

.App-link#login{
  position: absolute;
  right: 10%;
}

.App-link::after {
  content: '';
  display: none;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #F3F3F0;
  transition:all .5s;
  position: absolute;
  margin-top: -2px;
  right: -16px;
  top: 50%;
}

.App-link:hover{
  color: white;
}

.App-link:hover::after{
  display: block;
}

.App-footer{
  background-color: #291132;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.App-span{
  color: #F3F3F0;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}